.fa {
  padding: 10px 0 0 2px;
}

.modal-title {
  font-weight: 900;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.modal-footer {
  justify-content: space-between;
}

.address {
  font-weight: bold;
  width: 75%;
  word-wrap: break-word;
}

.qr-code {
  height: 400px;
}
